
.main-container-addprod {
    display: flex;
    position: relative;
    min-height: 100dvh;
    min-width: 100dvw;
    align-items: center;
    justify-content: center;
    background-color: green;
}
.center-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 1.3rem;
    border-radius: 15px;
    margin: 9rem auto;
    width: 450px;
    height: auto;
    
}
.titulo-form {
    text-align: center;
}
.formularioAddProduct {
    line-height: 1rem;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    margin: 0.5rem auto;
}
#label {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(40, 58, 226);
    /* padding: 15px 20px; */
    width: 150px;
    height: 50px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: box-shadow ease 0.25s;
    text-align: center;
    margin: auto;
}

#label:active {
    box-shadow:none;
}
input#img {
    width: 0;
    height: 0;
}
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: white;
    margin: 1rem auto;
}

.buttons {
    display: flex;
}