

.content {
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.loadin-msg {
    background-color: white;
    background-color: none;
    color: black;
    height: 40%;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.product-gallery__container {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    /* margin-block: 1rem; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: none; */
    margin-bottom: 15rem;
    /* background-color: linear-gradient(90deg, #5b193c, #6a074c, #b01193, #9c1a97, #7f0095, #6e0f9d, #54169a, #231cb0); */
}

