* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html {
    min-height: 100dvh;
	min-width: 100dvw;
}

/* body {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
} */

.app {
    /* min-height: 100dvh;
	min-width: 100dvw; */
    min-height: 100%;
    min-width: 100%; 
    background-color: transparent;
}