* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

/* html {
    min-height: 100dvh;
	min-width: 100dvw;
} */


.app {
    /* min-height: 100%;
    min-width: 100%;  */
    min-height: 100dvh;
	min-width: 100dvw;
    background-color: transparent;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}