* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body {
    max-height: 100dvh;
	max-width: 100dvw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}